body {
  background: #BE93C5;
  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #DBD9EB;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}

.holder {
  position:relative;
  width:100%;
  display:flex;
  height:70vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  overflow:hidden;
}

.holder:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: #BE93C5; /* fallback for old browsersn */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius:0 0 50% 50%/0 0 100% 100%;
  transform:scaleX(1.5);
}

.heading{
  margin-top: 60px;
  font-size: 70px;
  color:#f5f6fa;
  text-align:center;
  margin-left: 200px;
  margin-right: 200px;
  margin:5px;
  z-index:1;
  font-family: 'Poppins', sans-serif;
}

.tagline{
  margin-top: 5px;
  z-index:1;
  font-size: 25px;
  font-weight: 200;
  color:#f5f6fa;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

.about {
  font-family: 'Poppins', sans-serif;
  margin-top:70px;
  text-align: center;
}

.about h1 {
  font-weight: bold;
}
