body {
  background: #BE93C5;
  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.navbar {
  transition: all 0.4s;
  font-family: 'Poppins', sans-serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #f1f0f7;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}
/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: #fff;
  }

  .navbar .navbar-brand, .navbar .nav-link {
    color: #555;
  }
}

.holder {
  position:relative;
  width:100%;
  display:flex;
  height:70vh;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  overflow:hidden;
}

.holder:before{
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: #BE93C5; /* fallback for old browsersn */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius:0 0 50% 50%/0 0 100% 100%;
  transform:scaleX(1.5);
}

.heading{
  margin-top: 60px;
  font-size: 70px;
  color:#f5f6fa;
  text-align:center;
  margin-left: 200px;
  margin-right: 200px;
  margin:5px;
  z-index:1;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.tagline{
  margin-top: 5px;
  z-index:1;
  font-size: 25px;
  font-weight: 200;
  color:#f5f6fa;
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

.button {
  z-index:1;
  background-color: #BE93C5;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 13px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius:40px;
  opacity: 0.8;
  font-weight: 500;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.stroke-text{
  -webkit-text-stroke-width: 2px;
  -webkit-text-fill-color: transparent;
}

.content {
  font-family: 'Poppins', sans-serif;
  margin-left: 200px;
  margin-right: 200px;
}

.about {
  margin-top: 100px;
  position: relative;
}

.about h2 {
  font-weight: 900;
  color: #BE93C5;
  opacity: 0.5;
}

.about h1 {
  font-size: 40px;
}

.about span {
  background-color: #BE93C5;
  padding: 5px;
  border-radius: 20px;
  opacity: 0.7;
  color: purple;
  padding-left: 7px;
  padding-right: 7px;
}

.projects {
  margin-top: 50px;
}

.projects span {
  float: right;
}

#opportunities {
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
	padding: 30px 135px 30px 135px;
	background-color: #f9ebff;
}

.grid-container{
	margin: 0px 3% 10% 0%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px 50px;
}


.grid-container div {
	border-radius: 15px;
	box-shadow: inset 0 0 10px #FFFFFF;
	background-color: rgba(255, 255, 255, .97);
	padding: 35px 30px;
	box-shadow: 0 0 11px rgba(255, 192, 227, .3);
	transition: box-shadow .2s;
}

.grid-container div:hover {
	box-shadow: 0 0 11px rgba(255, 192, 227, 1);
}

.grid-container a {
	text-decoration: none;
	background-color: #BE93C5;
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
  transition: 0.3s;
  font-size: 16px;
}

.grid-container a:hover {
  background-color: #f1f0f7;
  color: #BE93C5;
}

.fab {
  color: #BE93C5;
}

.fas {
  color: #BE93C5;
}

#opportunities h2 {
  letter-spacing: .5px;
	margin: 100px 0px 0px -40px;
	text-align: center;
	color: white;
	font-size: 3rem;
	text-shadow: 0px 0px 15px rgba(0,0,0,.1), 0px 0px 15px #BE93C5;

}
#opportunities h3 {
	letter-spacing: .5px;
	margin: 10px 0px 80px 10px;
	text-align: center;
	color: #BE93C5;
	font-size: 1.5rem;
  line-height: 2rem;
}

#opportunities h4 {
	margin: 10px 0px 0px 0px;
	color: #BE93C5;
	font-size: 1.7rem;
}

#opportunities p {
	margin: 10px 0px 20px 0px;
	line-height: 1.5;
	color: #BE93C5;
	font-size: 1.1rem;
}

.chapter {
  margin-left: 150px;
  font-family: 'Poppins', sans-serif;
}

.chapter img {
  width:400px;
  height: auto;
  transition: transform .5s ease-in-out;
  float: left;
}

.chapter img:hover {
  transform: rotate(-10deg);
}

.chapter h1 {
  font-weight: 900;
  color: #BE93C5;
  opacity: 0.8;
  margin-top: 100px;
  margin-left: 600px;
}

.chapter h4 {
  margin-left: 600px;
  color: gray;
  opacity: 0.5;
  margin-bottom: 40px;
}

.chapter p {
  margin-left: 600px;
  margin-right: 100px;
  font-size: 1.1em;
}

.chapter a {
	text-decoration: none;
	background-color: #BE93C5;
	padding: 10px 20px;
	border-radius: 20px;
	color: white;
  transition: 0.3s;
  font-size: 16px;
}

.chapter a:hover {
  background-color: #f1f0f7;
  color: #BE93C5;
}

footer {
  background: #BE93C5; /* fallback for old browsersn */
  background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7BC6CC, #BE93C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 150px;
  margin: 0;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

footer a {
  color: #f9ebff;
}

footer a:hover {
  color: #f9ebff;
  text-decoration: underline;
}
